@use "bootstrap" with (
  $enable-grid-classes: false,
  $enable-cssgrid: true,
  $grid-columns: 10,
  $grid-gutter-width: 1rem
);

@use "@fortawesome/fontawesome-free/scss/variables" with (
  $font-path: "/node_modules/@fortawesome/fontawesome-free/webfonts"
);
@use "@fortawesome/fontawesome-free";
@use "@fortawesome/fontawesome-free/scss/solid.scss";

.weapon-card .btn {
  border-top-left-radius: 0;
  border-top-right-radius: 0;

  margin: 0 -1px -1px;
}

svg a[href] text {
  text-decoration: underline;
}

.ingredients-table.fixed-bottom {
  z-index: 200;

  .accordion-button {
    box-shadow: none;
    border-style: var(--bs-border-style);
    border-color: var(--bs-border-color);
    border-width: var(--bs-border-width) 0;
  }

  &.show .accordion-item {
    height: 100%;

    .accordion-header {
      position: relative;
      z-index: 300;
    }

    .accordion-collapse {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      padding-top: bootstrap.$spacer * 3.25;

      .accordion-body {
        max-height: 100%;
        overflow-y: scroll;
      }
    }
  }
}
