@use "bootstrap" with (
  $enable-grid-classes: false,
  $enable-cssgrid: true,
  $grid-columns: 10,
  $grid-gutter-width: 1rem
);

.weapon-card {
  .btn {
    border-top-left-radius: 0;
    border-top-right-radius: 0;

    margin: 0 -1px -1px;
  }
}

.weapon-card .form-check {
  min-height: auto;
  margin-bottom: 0;
}

.ingredients-table.fixed-bottom.show {
  max-height: calc(100% - 220px);
  height: 100%;

  .accordion-item {
    height: 100%;

    .accordion-header {
      position: relative;
      z-index: 1030;
    }

    .accordion-collapse {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;

      .accordion-body {
        max-height: 100%;
        overflow-y: scroll;
      }
    }
  }
}
